
.car_results {
    padding-top: 18px;

    &--heading {
        margin-bottom: 24px;
        @include text_basic($font-color-territory, 1.8rem, bolder, capitalize)
    }
}


.cards {
    display: flex;
    width: 100%;
    // min-height: 25vh;
    padding: 12px;
    z-index: 99;
    border: 1px solid $shadow-color;
    box-shadow: 4px 4px 4px $shadow-color;
    transition: background-color 1s;

    &_img {
        width: 30%;
    }

    &_info {
        width: 100%;
        position: relative;

        &--h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include text_basic($font-color-secondary, x-large, bolder, capitalize);

            span {
                @include text_basic($color-primary, small, 500, capitalize);
                border: 1px solid $color-primary;
                padding: 4px;
                border-radius: 12px;
                float: right;
            }
        }

        &--content {
            margin-top: 8px;

            footer {
                margin-top: 8px;
                border-top: 1px solid $shadow-color;
                display: flex;
                width: 100%;

                div {
                    width: 100%;
                    padding-top: 12px;

                    &:nth-last-child(1) {
                        text-align: right;
                    }
                }
            }
        }

        &--footer {
            font-style: italic;
            text-align: right;
            @include text_basic($font-color-secondary, small, 500, capitalize);

        }
    }

    &:hover {
        cursor: pointer;
        background-color: $shadow-color;
    }

}


// Filter Button
.filter-btn {
    position: fixed;
    bottom: 12px;
    right: 12px;

    button {
        @include btn_basic($font-color-primary, $color-primary, large)
    }
}
