$color-primary:#5053aa;
$color-secondary:white;
$color-territory:gray;
$color-white-light: #FDFDFD;


$tint-color1: rgba($color: #b9bbec, $alpha: 0.18);
$tint-color2: rgba($color: #b9bbec, $alpha: 0.00);
$shadow-color:rgba($color: #aaaaacf6, $alpha: 0.25);


$font-color-primary:white;
$font-color-territory:#5053aa;
$font-color-secondary:black;
