$color-primary:#5053aa;
$color-secondary:white;
$color-territory:gray;
$color-white-light: #FDFDFD;


$shadow-color:rgba($color: #aaaaacf6, $alpha: 0.25);


$font-color-primary:white;
$font-color-territory:#5053aa;
$font-color-secondary:black;
